{% extends "base.html" %}
{% block content %}
  <div class="content container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <form method="post">
        {{ form.hidden_tag() }}
        <h3 class="page-title">Company Details</h3>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Company Name <span class="text-danger">*</span></label>
              {{ form.company_name(class="form-control") }}
              {% for error in form.company_name.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Contact Person</label>
              {{ form.contact_person(class="form-control") }}
              {% for error in form.contact_person.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <label>Address</label>
              {{ form.address(class="form-control") }}
              {% for error in form.address.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>Country</label>
              {{ form.country(class="form-control") }}
              {% for error in form.country.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>City</label>
              {{ form.city(class="form-control") }}
              {% for error in form.city.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>State/Province</label>
              {{ form.state(class="form-control") }}
              {% for error in form.state.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6 col-md-6 col-lg-3">
            <div class="form-group">
              <label>Postal Code</label>
              {{ form.postal_code(class="form-control") }}
              {% for error in form.postal_code.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Email</label>
              {{ form.email(class="form-control") }}
              {% for error in form.email.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Phone Number</label>
              {{ form.phone_number(class="form-control") }}
              {% for error in form.phone_number.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Bank Name</label>
              {{ form.bank_name(class="form-control") }}
              {% for error in form.bank_name.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Bank Country</label>
              {{ form.bank_country(class="form-control") }}
              {% for error in form.bank_country.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label>Bank Address</label>
              {{ form.bank_address(class="form-control") }}
              {% for error in form.bank_address.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label>Account Number</label>
              {{ form.account_number(class="form-control") }}
              {% for error in form.account_number.errors %}
              <span style="color: red;">{{ error }}</span>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 text-center m-t-20">
            {{ form.submit(class="btn btn-primary") }}
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
