<!DOCTYPE html>
<html>
    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" href="{% if g.images.favicon %}{{url_for('static', filename='img/{}'.format(g.images.favicon))}}{% else %}{{url_for('static',filename='img/favicon.png')}}{% endif %}">
        <title>  {% if title %}{{ title }} - Invoice system{% else %}{{ 'Welcome to Invoice system' }}{% endif %}</title>
        {% block css %}
		    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/font-awesome.min.css')}}">
		     <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='plugins/morris/morris.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/select2.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/bootstrap-datetimepicker.min.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dataTables.bootstrap.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static',filename='css/alertify.min.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static',filename='css/default.min.css')}}"/>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/style.css')}}">
        {% endblock %}
		<!--[if lt IE 9]>
			<script src="js/html5shiv.min.js"></script>
			<script src="js/respond.min.js"></script>
		<![endif]-->
    </head>
    <body>
        <div class="main-wrapper">
            <div class="header">
                <div class="header-left">
                    <a href="{{url_for('main.index')}}" class="logo">
						<img src="{% if g.images %}{{url_for('static', filename='img/{}'.format(g.images.logo))}}{% else %}{{url_for('static',filename='img/logo.png')}}{% endif %}" width="40" height="40" alt="">
					</a>
                </div>
                <div class="page-title-box pull-left">
					<h3>{{ g.company.company_name }}</h3>
                </div>
				<a id="mobile_btn" class="mobile_btn pull-left" href="#sidebar"><i class="fa fa-bars" aria-hidden="true"></i></a>
				<ul class="nav navbar-nav navbar-right user-menu pull-right">

					<li class="dropdown">
						<a href="profile.html" class="dropdown-toggle user-link" data-toggle="dropdown" title="{{ current_user.role.role }}">
							<span class="user-img"><img class="img-circle" src="{{url_for('static', filename='img/user.jpg')}}" width="40" alt="{{ current_user.username }}">
							<span class="status online"></span></span>
							<span>{{ current_user.username }}</span>
							<i class="caret"></i>
						</a>
						<ul class="dropdown-menu">

							<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
						</ul>
					</li>
				</ul>
				<div class="dropdown mobile-user-menu pull-right">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
					<ul class="dropdown-menu pull-right">
						<li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
					</ul>
				</div>
            </div>
            {% block sidebar %}
            <div class="sidebar" id="sidebar">
          <div class="sidebar-inner slimscroll">
					<div id="sidebar-menu" class="sidebar-menu">
						<ul>
							<li  {%- if request.path ==  url_for('main.index')  %} class="active"{% endif %} >
								<a href="{{ url_for('main.index') }}">Dashboard</a>
							</li>
              {% if current_user.role.access_quotation == True %}
              <li {%- if request.path == url_for('main.quotations') %} class="active"{% endif %}>
								<a href="{{ url_for('main.quotations') }}">Quotations</a>
							</li>
              {% endif %}
              {% if current_user.role.access_invoice == True %}
							<li {%- if request.path ==  url_for('main.invoices') %} class="active"{% endif %}>
								<a href="{{ url_for('main.invoices') }}">Invoices</a>
							</li>
              {% endif %}
              {% if current_user.role.access_bill == True %}
							<li {%- if request.path == url_for('main.bills') %} class="active"{% endif %}>
								<a href="{{ url_for('main.bills') }}">Bills</a>
							</li>
              {% endif %}
              {% if current_user.role.access_payment == True %}
							<li {%- if request.path ==  url_for('main.payments')  %} class="active"{% endif %}>
								<a href="{{ url_for('main.payments') }}">Payments</a>
							</li>
              {% endif %}
              {% if current_user.role.access_client == True %}
							<li {%- if request.path == url_for('main.clients') %} class="active"{% endif %}>
								<a href="{{ url_for('main.clients') }}">Clients</a>
							</li>
              {% endif %}
              {% if current_user.role.access_supplier == True %}
							<li {%- if request.path == url_for('main.suppliers')  %} class="active"{% endif %}>
								<a href="{{ url_for('main.suppliers') }}">Suppliers</a>
							</li>
              {%endif%}
              <li {%- if request.path == url_for('main.settings')  %} class="active"{% endif %}>
                <a href="{{ url_for('main.settings') }}">Settings</a>
              </li>
              {% if current_user.role.access_user == True %}
              <li class="submenu">
                  <a href="#"><span> Admin </span> <span class="menu-arrow"></span></a>
                  <ul class="list-unstyled" style="display: none;">
                    <li><a {%- if request.path ==  url_for('main.users') %} class="active"{% endif %} href="{{ url_for('main.users') }}">Users</a></li>
                    {% if current_user.role.permissions.read_user == True %}
                    <li><a {%- if request.path ==  url_for('main.role_permissions') %} class="active"{% endif %} href="{{ url_for('main.role_permissions') }}">Role & Permission </a></li>
                    {% endif %}
                    {% if current_user.role.permissions.read_user == True %}
                    <li><a {%- if request.path ==  url_for('main.company_settings') %} class="active"{% endif %} href="{{ url_for('main.company_settings') }}">Company settings </a></li>
                    {% endif %}
                    {% if current_user.role.permissions.read_user == True %}
                    <li><a {%- if request.path ==  url_for('main.theme_settings') %} class="active"{% endif %} href="{{ url_for('main.theme_settings') }}">Theme settings </a></li>
                    {% endif %}
                  </ul>
              </li>
              {% endif %}
						</ul>
					</div>
                </div>
            </div>
            {% endblock %}
            <div class="page-wrapper">
              {% with messages = get_flashed_messages(with_categories=True) %}
              {% if messages %}
                {% for category, msg in messages %}
                  <div class="alert alert-{{ category }}" role="alert">
                      {{ msg }}
                  </div>
              {% endfor %}
              {% endif %}
              {% endwith %}

            {% block content %}
            <div class="content container-fluid">

	          </div>
            {% endblock %}

			</div>
        {% block client %}

        {% endblock %}
        </div>
        {% block scripts %}

        <script type="text/javascript" src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
        <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/jquery.slimscroll.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='plugins/morris/morris.min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='plugins/raphael/raphael-min.js')}}"></script>
		<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/select2.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/moment.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/bootstrap-datetimepicker.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/jquery.dataTables.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/dataTables.bootstrap.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/alertify.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/session.js')}}"></script>
    <script src="{{url_for('static', filename='js/printThis.js')}}"></script>
    <script src="{{url_for('static', filename='js/jspdf.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/html2canvas.min.js')}}"></script>
    {{ moment.include_moment() }}
    <script>
    function delete_row(id, table, destElem) {
            alertify.confirm( 'Confirm deletion', 'Are you sure you want to delete '+table+'?', function() {
              $(destElem).html('<img src="{{ url_for('static', filename='img/loading.gif') }}">');
              $.post('/skyeinvoice/delete', {
                  id: id,
                  table:table
              }).done(function(response) {
                if(response['status'] == 1){
                  alertify.success(table+' deleted successfully');
                  var row = document.getElementById(destElem);
                  $(destElem).remove();
                }
                else {
                  alertify.error('Error: wrong table name')
                }
              }).fail(function() {
                  alertify.error('Error: Could not contact server.')
              });
            }
                 , function() { alertify.error('Cancelled') });

        }


        $(".form-control").on('change', function postinput(){
          var oldrow = $("#products-table").find("[data-toggle=fieldset-entry]:last");
          var row = oldrow.clone(true, true);
          var elem_id = row.find(":input")[0].id;
          var elem_num = parseInt(elem_id.replace(/.*-(\d{1,4})-.*/m, '$1')+1);
          var total_amount=0
           for(var x=0;x < elem_num;x++)
           {

             var price = $("input[name=products-"+[x]+"-price]").val();
             var quantity= $("input[name=products-"+[x]+"-quantity]").val();

             if(price != ''  && quantity != '' && isNaN(price) == false && isNaN(quantity) == false  )
             {

               total=price * quantity;
               total_amount =total + total_amount
               $("input[name=products-"+[x]+"-total]").val(total)
             }
           }
               $("input[name=amount]").val(total_amount)
         });

         $('#print').on("click", function () {
           $('.panel-body').printThis();
         });

       $('#pdf').on("click", function () {
           html2canvas($('.panel-body')[0],{scale:3}).then( function (canvas) {
             var imgData = canvas.toDataURL("image/jpeg", 1.0);
             var pdf = new jsPDF('p','pt','a4');
              pdf.addImage(imgData, 'JPEG', 10, 10, 550, 600);
              pdf.save("{% if bill%}{{bill.bill_no}}{%elif invoice%}{{invoice.invoice_no}}{%elif quotation%}{{quotation.quotation_no}}{%elif payment%}{{payment.payment_no}}{%endif%}.pdf");

           });
       });

    </script>
    {% endblock %}
    </body>
</html>
