{% extends "base.html" %}

{% block content %}
{% if current_user.role == 'admin' %}
<div class="content container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="quotations">{{count_all['user']}}</h3>
                <span>Users</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="invoices">{{count_all['clerk']}}</h3>
                <span>clerks</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-user"></i></span>
              <div class="dash-widget-info">
                <h3 id="bills">{{count_all['manager']}}</h3>
                <span>Managers</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="payments">{{count_all['supervisor']}}</h3>
                <span>Supervisors</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="payments">{{count_all['admin']}}</h3>
                <span>Admins</span>
              </div>
            </div>
          </div>
        </div>
      </div>
{% else %}
<div class="content container-fluid">
        <div class="row">
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-cubes" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="quotations">{{count_all['quotation']}}</h3>
                <span>Quotations</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-usd" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="invoices">{{count_all['invoice']}}</h3>
                <span>Invoices</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-diamond"></i></span>
              <div class="dash-widget-info">
                <h3 id="bills">{{count_all['bill']}}</h3>
                <span>Bills</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-sm-6 col-lg-3">
            <div class="dash-widget clearfix card-box">
              <span class="dash-widget-icon"><i class="fa fa-user" aria-hidden="true"></i></span>
              <div class="dash-widget-info">
                <h3 id="payments">{{count_all['payment']}}</h3>
                <span>Payments</span>
              </div>
            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Invoices</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="inv-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                      <th>Invoice Number</th>
                      <th>invoice name</th>
                      <th>Due Date</th>
                      <th>Amount</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for invoice in tables.invoice %}
                      <tr>
                        <td><a href="{{ url_for('main.view_invoice',id=invoice.id) }}">{{ invoice.invoice_no }}</a></td>
                        <td>
                          <h2><a href="#">{{ invoice.quotation.quotation_name }}</a></h2>
                        </td>
                        <td>{{ moment(invoice.date_due).format("MMM Do YYYY") }}</td>
                        <td>{{ invoice.quotation.amount}}</td>
                        <td>
                          {% if invoice.status == 'pending' %}
                           <span class="label label-warning-border">{{ invoice.status }}</span>
                          {% elif invoice.status == 'approved' %}
                           <span class="label label-success-border">{{ invoice.status }}</span>
                          {%else%}
                           <span class="label label-danger-border">{{ invoice.status }}</span>
                         {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.invoices') }}" class="text-primary">View all invoices</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Payments</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="pay-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                        <th>invoice id</th>
                        <th>payment type</th>
                        <th>payment Date</th>
                        <th>Amount</th>
                        <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>

                      {% for payment in tables.payment %}
                      <tr>
                        <td><a href="{{ url_for('main.view_payment',id=payment.id) }}">{{ payment.invoice.invoice_no }}</a></td>
                        <td>
                          <h2><a href="#">{{ payment.payment_type }}</a></h2>
                        </td>
                        <td>{{ moment(payment.payment_date).format("MMM Do YYYY") }}</td>
                        <td>{{ payment.amount}}</td>
                        <td>
                          {% if payment.status == 'pending' %}
                           <span class="label label-warning-border">{{ payment.status }}</span>
                          {% elif payment.status == 'approved' %}
                           <span class="label label-success-border">{{ payment.status }}</span>
                          {%else%}
                           <span class="label label-danger-border">{{ payment.status }}</span>
                         {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.payments') }}" class="text-primary">View all payments</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Quotations</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="quo-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                      <th>Quot Number</th>
                      <th>Quot name</th>
                      <th>Date Issued</th>
                      <th>Amount</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for quotation in tables.quotation %}
                      <tr>
                        <td><a href="{{ url_for('main.view_quotation',id=quotation.id) }}">{{ quotation.quotation_no }}</a></td>
                        <td>
                          <h2><a href="#">{{ quotation.quotation_name}}</a></h2>
                        </td>
                        <td>{{ moment(quotation.quotation_date).format("MMM Do YYYY")}}</td>
                        <td>{{ quotation.amount}}</td>
                        <td>
                          {% if quotation.status == 'pending' %}
                           <span class="label label-warning-border">{{ quotation.status }}</span>
                          {% elif quotation.status == 'approved' %}
                           <span class="label label-success-border">{{ quotation.status }}</span>
                          {%else%}
                           <span class="label label-danger-border">{{ quotation.status }}</span>
                         {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.quotations') }}" class="text-primary">View all quotations</a>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel panel-table">
              <div class="panel-heading">
                <h3 class="panel-title">Bills</h3>
              </div>
              <div class="panel-body">
                <div class="table-responsive">
                  <table id="bil-table" class="table table-striped custom-table m-b-0">
                    <thead>
                      <tr>
                      <th>Bill Number</th>
                      <th>Bill name</th>
                      <th>Due Date</th>
                      <th>Amount</th>
                      <th>Status</th>
                    </tr>
                    </thead>
                    <tbody>
                      {% for bill in tables.bill %}
                      <tr>
                        <td><a href="{{ url_for('main.view_bill',id=bill.id) }}">{{ bill.bill_no }}</a></td>
                        <td>
                          <h2><a href="#">{{ bill.bill_name}}</a></h2>
                        </td>
                        <td>{{ moment(bill.date_due).format("MMM Do YYYY") }}</td>
                        <td>{{ bill.amount}}</td>
                        <td>
                          {% if bill.status == 'pending' %}
                           <span class="label label-warning-border">{{ bill.status }}</span>
                          {% elif bill.status == 'approved' %}
                           <span class="label label-success-border">{{ bill.status }}</span>
                          {%else%}
                           <span class="label label-danger-border">{{ bill.status }}</span>
                         {% endif %}
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="panel-footer">
                <a href="{{ url_for('main.bills') }}" class="text-primary">View all bills</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endif %}
{% endblock %}
